<footer class="main-footer">
    <ul class="links" aria-label="Personal links">
        <li>
            <a href="https://github.com/Humberd" rel="noopener noreferrer" title="Github">
                {{ partial "icon.gohtml" "github" }}
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/maciej-sawicki/" rel="noopener noreferrer" title="LinkedIn">
                {{ partial "icon.gohtml" "linkedin" }}
            </a>
        </li>
    </ul>
</footer>
