<header class="main-header">
    <span class="logo">
        <a href="/">msawicki.dev</a>
    </span>
    <section class="links">
        <a href="/">Home</a>
        <a href="/tags">Tags</a>
        <a href="/series">Series</a>
    </section>

</header>
