{{ with .Params.banners }}
    {{ with .wide}}
        {{ $imageFound := $.Resources.GetMatch . }}
        <div class="baner" style="background-image: url('{{ $imageFound.Permalink }}')"></div>
    {{ else }}
        <div class="baner" style="background-image: url('{{ "/banner-placeholder.jpg" }}')"></div>
    {{ end }}

{{ else }}
    <div class="baner" style="background-image: url('{{ "/banner-placeholder.jpg" }}')"></div>
{{ end }}
