{{ $tags := . }}
{{/*  Fix me to be unordered list, currently markdown overrides inline styles  */}}
<section class="badge-list" aria-label="badge list">
    {{ range $tags }}
        <a class="badge" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
    {{ end }}
</section>
