$postContent-width: 750px;
$bannerOffset: 110px;

.post-wrapper {
	.baner {
		width: 100%;
		height: 300px;
		margin-bottom: -$bannerOffset;

		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	aside {
		position: relative;
		margin-top: 150px;

		.table-of-content {
			position: sticky;
			top: 64px;

			ul {
				list-style: none;
			}
		}
	}
}

article.post {
	$padding: 32px;

	max-width: $postContent-width + 2 * $padding;
	padding: $padding;
	margin-top: 5px;

	background-color: var(--background-color--primary);

	header.post-heading {
		.post-title {
			border-bottom: 0;
			font-size: 2.5em;
			margin: 0;
		}

		.post-metadata {
			margin: 16px 0;

			display: flex;
			justify-content: space-between;
			align-items: center;

			& > .timing {
				font-size: 0.9rem;
				color: #313131;;
			}
		}
	}

	main.content {
		hr:first-child {
			display: none;
		}

		h1, h2, h3, h4 {
			& > a.header-link {
				color: transparent;

				& > svg {
					vertical-align: middle;
				}
			}
		}

		figure {
			margin: 0;
		}

		figure.markdown-image {
			& > img {
				box-shadow: 0 2px 5px 0 #474747;
				margin-bottom: 4px;
			}

			& > figcaption {
				font-style: italic;
				text-align: center;
			}
		}

		img {
			display: block;
			margin: auto;
			max-height: 400px;
		}

		table {
			display: table;
			margin-left: auto;
			margin-right: auto;
			width: unset;
		}

		br {
			display: none;
		}

		.stackblitz {
			height: 400px;
			width: 100%;
		}
	}
}

