.post-wrapper {
	display: flex;
	justify-content: center;
	margin: auto;

	aside {
		position: relative;
		margin-top: 54px;

		.table-of-content {
			position: sticky;
			top: 64px;

			ul {
				list-style: none;
			}
		}
	}


}

.post {
	max-width: 750px + 2*16px;
	padding: 16px;

	.post-title {
		border-bottom: 0;
		font-size: 2.5em;
	}

	.content {
		figure {
			margin: 0;

			& > figcaption {
				font-style: italic;
				text-align: center;
			}
		}

		img {
			display: block;
			margin: auto;
			max-height: 400px;
		}

		table {
			display: table;
			margin-left: auto;
			margin-right: auto;
			width: unset;
		}

		br {
			display: none;
		}
	}
}

