.post-wrapper {
	display: flex;
	justify-content: center;
	margin: auto;

	aside {
		position: relative;
		margin-top: 54px;

		.table-of-content {
			position: sticky;
			top: 64px;

			ul {
				list-style: none;
			}
		}
	}


}

.post {
	max-width: 750px + 2*16px;
	padding: 16px;

	.post-title {
		border-bottom: 0;
		font-size: 2.5em;
	}

	.content {
		hr:first-child {
			display: none;
		}

		h1, h2, h3, h4 {
			& > a.header-link {
				color: transparent;

				& > svg {
					vertical-align: middle;
				}
			}
		}

		figure {
			margin: 0;

			& > figcaption {
				font-style: italic;
				text-align: center;
			}
		}

		img {
			display: block;
			margin: auto;
			max-height: 400px;
		}

		table {
			display: table;
			margin-left: auto;
			margin-right: auto;
			width: unset;
		}

		br {
			display: none;
		}
	}
}

